.nav-link{
          color: rgb(49, 3, 49);
          font-weight: bold;
         
}
.dropdown-menu{
          color: rgb(49, 3, 49);
          background-color: rgb(244, 172, 239);
          font-weight: 500;
          font-family: 'Ubuntu', sans-serif;font-size: large;
}
.brand{
          margin: 20px;
          padding: 10px;
          border: 1px solid goldenrod;
}